body{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Assistant", sans-serif;
}

#header{
  background-color: #e1d7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  overflow: initial;
  font-weight: bold;
  }


h2{
  text-align: center;
  margin: 2%;
  font-weight: 700;
}

.typing {
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  width: 6em;
  animation: typing 2s steps(20, end), blinking-caret .5s step-end infinite;
  position: relative;
}

@keyframes typing {
  from {width: 0}
  to {width: 6em}
}

@keyframes blinking-caret {
  from, to {border-color: transparent}
  50% {border-color: black}
}

.typing::after {
  content: '|';
  position: absolute;
  top: 0; 
  right: 0; 
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0%, 100% {opacity: 0}
  50% {opacity: 1}
}


#footer{
  background-color: #e1d7f5;
  font-size: 1em;
  text-align: center;
  color:#333;
  position: fixed;
  bottom: 0;
  height: 3em;
  margin-top: 2em;
  width: 100%;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  }

#tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.52vw;
    margin: 2.5vw auto;
    width: 300px;
    height: 300px;
  }
  
  .game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #bfaee8;
    border: 2px solid #4f3f75;
    font-size: 2em;
    color: #333;
    font-family: "Assistant", sans-serif;
    font-weight: bolder;
  }
  
  #reset-button {
    display: block;
    background-color: #e691d0;
    color: #242424;
    font-size: 100%;
    font-family: "Assistant", sans-serif;
    font-weight: 700;
    border-radius: 10em;
    border: 2px solid rgba(0, 0, 0, 0.767);
    padding: 0.5em 0.5em;
    margin: auto;
    margin-bottom: 20%;
  }
  
